/* *,
*::before,
*::after {
  box-sizing: border-box;
  
} */

/* Custom Properties */

:root {
  --ff-primary: "Playfair Display", serif;
  --ff-secondary: "Monsterrat", sans-serif;

  --main-bg-clr: #f8f2ed;
  --secondary-bg-clr: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%);
  --third-bg-clr: linear-gradient(-20deg, #d558c8 0%, #24d292 100%); 
  --fourth-bg-clr: linear-gradient(179.4deg, rgb(253, 240, 233) 2.2%, rgb(255, 194, 203) 96.2%);

  --main-text-clr: black;
  --secondary-text-clr: #38598b;
  --tertiary-text-clr: #f5f9ee;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

/* General Styles */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--main-bg-clr);
  color: var(--main-text-clr);
  margin: 0;
  font-family: var(--ff-secondary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

/* img {
  display: block;
  max-width: 100%;
} */

/* Typography */
h1, 
h2, 
h3 {
  font-family: var(--ff-primary);
  font-weight: 900;
  line-height: 1.1;
  margin: 0;
}

h1 { font-size: var(--fs-h1);}
h2 { font-size: var(--fs-h2);}
h3 { font-size: var(--fs-h3);}

.section__subtitle {
  font-size: var(--fs-h3);
}


/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.logo {
  height: 5px;
}

/* Nav Bar */
ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.nav {
  position: fixed;
  background: var(--secondary-text-clr);
  color: var(--main-bg-clr);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(.5, 0, .5, 1);}

  
.nav__link {
  text-decoration: none;
  color: var(--main-text-clr);
}

.nav-toggle {
  padding: .5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  /*top: 1em; */
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.social-list {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-right: 70px;
}

.social-list__link {
  color: var(--secondary-text-clr);
  font-size: var(--fs-h3);

}


/* Hamburger */
.hamburger {
  display: none;
  position: relative;

}
.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--main-text-clr);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }

/* Introduction Section */

.intro {
  display: flex;
  gap: 1.25rem;
  align-items: center; 
  justify-content: space-around;
  margin-top: 140px;
  margin-bottom: 140px;
 }
 
 .info {
   display: grid;
   grid-template-rows: repeat(2, 0.5fr);
   grid-template-columns: repeat(2, 15rem);
   grid-gap: 1rem;
   text-decoration: underline;
 }
 
 .info h1 {
   grid-row-start: 2;
   grid-column-start: 1;
   grid-column-end: 3;
 }
 
 .info p{
   grid-row-start: 3;
   grid-column: 1 / 3
 }
 
 .intro img {
   width: 22rem;
   border-radius: 5%;
 }

 /* Portfolio */
.section__title,
.section__subtitle {
  text-align: center;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* Media Queries
@media screen and (min-width: 320px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }

  .logo {
    display: block;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .social-list__link {
    font-size: var(--fs-h3);
    margin-left: 2rem;;
  }
  
  .intro {
    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: space-around;
    margin-top: 140px;
    margin-bottom: 140px;
  }

  .hamburger {
    display: block;
  }
} */